.home{
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-container{
    max-width: 540px;
    text-align: center;
}

.home-img{
    margin-bottom: 1.5rem;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

img{
    width: 250px;
}

.name{
    font-size: var(--h1);
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.social{
    display: flex;
    column-gap: 1.75rem;
    margin: 1.5rem 0;
    justify-content: center;
}