.home{
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-container{
    max-width: 540px;
    text-align: center;
}

.home-img {
    margin-bottom: 1.5rem;
    border-radius: 0;
    overflow: hidden;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--border-color);
    padding: 4px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name{
    font-size: var(--h1);
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.name::before {
  content: "> ";
  color: var(--first);
}

.home-subtitle{
    font-size: var(--h2);
    font-weight: 500;
    color: var(--text-dim);
    margin-bottom: 1.5rem;
}

.home-subtitle::before {
  content: "$ ";
  color: var(--first);
}

.home-socials{
    display: flex;
    column-gap: 1.75rem;
    margin: 1.5rem 0;
    justify-content: center;
}

.home-social-link{
    color: var(--first);
    font-size: 1.3rem;
    transition: .3s;
}

.home-social-link:hover{
    color: var(--text-dim);
}
