#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.home-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  pointer-events: none;
}

.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 0; 
  pointer-events: none; 
}

.wave1 {
  animation: wave1 3s ease-in-out infinite alternate;
}
.wave2 {
  animation: wave2 3s 1.2s ease-in-out infinite alternate;
}
.wave3 {
  animation: wave3 3s 0.7s ease-in-out infinite alternate;
}

@keyframes wave1 {
  from {
    transform: translateX(-2000px);
  }
}

@keyframes wave2 {
  from {
    transform: translateX(-1800px);
  }
}

@keyframes wave3 {
  from {
    transform: translateX(-1600px);
  }
}